.card img {
    margin: 8rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    position: relative;
}

.img-container span {
    left: 0;
    position: absolute;
    bottom: 0;
    width: 9rem;
    height: 5rem;
    background-color: rgb(219, 206, 206);
    border-radius: 23%;
    text-align: center;
    padding-top: 2.2rem;
}