.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p1 {
    color: rgb(8, 133, 56);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
}

.p2 {
    letter-spacing: 0.3rem;
}

.p3 {
    margin-left: 7rem;
    margin-right: 7rem;
    text-align: center;
}